ul {
  list-style-type: none;
}
.box {
  width: 320px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(141, 98, 46, 0.885);
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.string {
  display: flex;
  gap: 8px;
}

.button {
  outline: transparent;
  background-color: rgb(139, 110, 72);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  width: 60px;
  height: 40px;
}
